/* ==========================================
   SF6 DNA Color System
========================================== */

:root{

    /* Main */

    --bg:#0d1117;
    --surface:#161b22;
    --surface-2:#1f2630;

    --primary:#ff6b00;
    --primary-hover:#ff8d32;

    --text:#ffffff;
    --text-sub:#b5bcc8;

    --border:#2b3442;

    --success:#38d996;
    --danger:#ff4b55;

    /* Shadow */

    --shadow:0 10px 30px rgba(0,0,0,.35);

    /* Radius */

    --radius:16px;

    /* Width */

    --container:1200px;

    /* Animation */

    --transition:.25s ease;
}